/* ***** */
/* Reset */
/* ***** */

html {
   line-height: 1.15; /* 1 */
   -webkit-text-size-adjust: 100%; /* 2 */
 }

/* 1. Remove the margin in all browsers. */

 body {
   margin: 0;
 }

/* 2. Render the main element consistently in IE. */

 main {
   display: block;
 }

 /* 3. Correct the font size and margin on h1 elements within section and article contexts in Chrome, Firefox, and Safari. */

 h1 {
   font-size: 2em;
   margin: 0.67em 0;
 }

 /* 4. Add the correct box sizing in Firefox, and show the overflow in Edge and IE. */

 hr {
   box-sizing: content-box; /* 1 */
   height: 0; /* 1 */
   overflow: visible; /* 2 */
 }
 
 /* 5. Correct the inheritance and scaling of font size in all browsers, and correct the odd em font sizing in all browsers. */
 
 pre {
   font-family: monospace, monospace; /* 1 */
   font-size: 1em; /* 2 */
 }
 

 /* 6. Remove the gray background on active links in IE 10. */

 a {
   background-color: transparent;
 }

 /* 7. Remove the bottom border in Chrome 57-, and add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */

 abbr[title] {
   border-bottom: none; /* 1 */
   text-decoration: underline; /* 2 */
   text-decoration: underline dotted; /* 2 */
 }

 /* 8. Add the correct font weight in Chrome, Edge, and Safari. */

 b,
 strong {
   font-weight: bolder;
 }

 /* 9. Correct the inheritance and scaling of font size in all browsers, and correct the odd em font sizing in all browsers. */

 code,
 kbd,
 samp {
   font-family: monospace, monospace; /* 1 */
   font-size: 1em; /* 2 */
 }
 
 /* 10. Add the correct font size in all browsers. */
 
 small {
   font-size: 80%;
 }

 /* 11. Prevent sub and sup elements from affecting the line height in all browsers. */

 sub,
 sup {
   font-size: 75%;
   line-height: 0;
   position: relative;
   vertical-align: baseline;
 }
 
 sub {
   bottom: -0.25em;
 }
 
 sup {
   top: -0.5em;
 }
 
 /* 12. Remove the border on images inside links in IE 10. */
 
 img {
   border-style: none;
 }
 
 /* 13. Change the font styles in all browsers, and remove the margin in Firefox and Safari. */

 button,
 input,
 optgroup,
 select,
 textarea {
   font-family: inherit; /* 1 */
   font-size: 100%; /* 1 */
   line-height: 1.15; /* 1 */
   margin: 0; /* 2 */
 }

 /* 14. Show the overflow in Edge. */

 button,
 input {
   /* 1 */
   overflow: visible;
 }

 /* 15. Remove the inheritance of text transform in Firefox. */

 button,
 select {
   /* 1 */
   text-transform: none;
 }

 /* 16. Correct the inability to style clickable types in iOS and Safari. */

 button,
 [type='button'],
 [type='reset'],
 [type='submit'] {
   -webkit-appearance: button;
 }

 /* 17. Remove the inner border and padding in Firefox. */

 button::-moz-focus-inner,
 [type='button']::-moz-focus-inner,
 [type='reset']::-moz-focus-inner,
 [type='submit']::-moz-focus-inner {
   border-style: none;
   padding: 0;
 }

 /* 18. Restore the focus styles unset by the previous rule. */

 button:-moz-focusring,
 [type='button']:-moz-focusring,
 [type='reset']:-moz-focusring,
 [type='submit']:-moz-focusring {
   outline: 1px dotted ButtonText;
 }

 /* 19. Correct the padding in Firefox. */

 fieldset {
   padding: 0.35em 0.75em 0.625em;
 }

 /* 20. Correct the text wrapping in Edge and IE. Correct the color inheritance from fieldset elements in IE. Remove the padding so developers are not caught out when they zero out fieldset elements in all browsers. */

 legend {
   box-sizing: border-box; /* 1 */
   color: inherit; /* 2 */
   display: table; /* 1 */
   max-width: 100%; /* 1 */
   padding: 0; /* 3 */
   white-space: normal; /* 1 */
 }

 /* 21. Add the correct vertical alignment in Chrome, Firefox, and Opera. */

 progress {
   vertical-align: baseline;
 }

 /* 22. Remove the default vertical scrollbar in IE 10+. */

 textarea {
   overflow: auto;
 }

 /* 23. Add the correct box sizing in IE 10. Remove the padding in IE 10. */

 [type='checkbox'],
 [type='radio'] {
   box-sizing: border-box; /* 1 */
   padding: 0; /* 2 */
 }

 /* 24. Correct the cursor style of increment and decrement buttons in Chrome. */

 [type='number']::-webkit-inner-spin-button,
 [type='number']::-webkit-outer-spin-button {
   height: auto;
 }

 /* 25. Correct the odd appearance in Chrome and Safari. Correct the outline style in Safari. */

 [type='search'] {
   -webkit-appearance: textfield; /* 1 */
   outline-offset: -2px; /* 2 */
 }

 /* 26. Remove the inner padding in Chrome and Safari on macOS. */

 [type='search']::-webkit-search-decoration {
   -webkit-appearance: none;
 }

 /* 27. Correct the inability to style clickable types in iOS and Safari. Change font properties to inherit in Safari. */

 ::-webkit-file-upload-button {
   -webkit-appearance: button; /* 1 */
   font: inherit; /* 2 */
 }

 /* 28. Add the correct display in Edge, IE 10+, and Firefox. */

 details {
   display: block;
 }

 /* 29. Add the correct display in all browsers. */

 summary {
   display: list-item;
 }

 /* 30. Add the correct display in IE 10+. */

 template {
   display: none;
 }

 /* 31. Add the correct display in IE 10. */

 [hidden] {
   display: none;
 }













/* ***************** */
/* Custom Properties */
/* ***************** */

:root {
  --primary-color: #3C37FF;

  --primary-background-color: white;
  --secondary-background-color: black;
  --tertiary-background-color: #f3f3f3;

  --primary-font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  --primary-text-color: black;
  --secondary-text-color: white;
  --tertiary-text-color: #8A8A8A;


  --form-heading-font-size: 3.2rem;

  --heading-font-weight: 600;

  --body-font-size: 1.6rem;
  --body-font-weight: 400;

  --XS-spacer: 1rem;
  --S-spacer: 2rem;
  --M-spacer: 4rem;
  --L-spacer: 6rem;
  --XL-spacer: 8rem;
  --XXL-spacer: 12rem;

  --XS-font-size: 1.4rem;
  --S-font-size: 1.6rem;
  --M-font-size: 1.8rem;
  --L-font-size: 2.4rem;
  --XL-font-size: 3.2rem;
  --XXL-font-size: 4rem;

}

/* @media (prefers-color-scheme: dark) {
  :root {
    --tertiary-background-color: #acacac;

    --primary-text-color: white;
    --secondary-text-color: black;
    --tertiary-text-color: #f3f3f3;
  }
} */



*, *::after, *::before {
  box-sizing:border-box;  
}


/* ********** */
/* Html, Body */
/* ********** */

html, body {
  font-size: 62.5%;

  height: 100%;
}

/* **** */
/* Main */
/* **** */

main {
  width: 100%;
  height: 100%;
}


/* ***** */
/* Aside */
/* ***** */

aside {
  display: none;
}


/* ******* */
/* Section */
/* ******* */

main > section {
  display: flex;

  flex-direction: column;
  
  align-items: center;
}


/* ************** */
/* Step Indicator */
/* ************** */

main > section > nav {
  padding-bottom: var(--L-spacer);

  width: 100%;
}

main > section > nav ol {
  padding: 0;
  margin: 0;

  display: flex;

  align-items: center;
  justify-content: space-between;


  width: 100%;
}

main > section > nav ol li {
  --step-indicator-font-family: var(--primary-font-family);
  --step-indicator-font-size: 1.6rem;
  
  --step-indicator-text-color: var(--primary-text-color);

  list-style: none;

  font-family: var(--step-indicator-font-family);
  font-size: var(--step-indicator-font-size);

  color: var(--step-indicator-text-color);
}

main > section > nav ol li.current {
  color: red;
}


/* **** */
/* Form */
/* **** */

form {
  display: flex;
  flex-direction: column;

  width: 80%;
}

form fieldset {
  padding: 0;
  margin: 0;

  display: flex;

  flex-direction: column;
  
  border: none;

  width: 100%;
}

form fieldset.visible {
  display: visible;
}

form fieldset.hidden {
  display: none;
}







form fieldset legend {
  --legend-font-family: var(--primary-font-family);
  --legend-font-size: var(--form-heading-font-size);

  --legend-text-color: var(--primary-text-color);

  padding-bottom: var(--S-spacer);

  font-family: var(--primary-font-family);
  font-size: var(--legend-font-size);
  font-weight: var(--heading-font-weight);

  color: var(--legend-text-color);
}

form fieldset legend + p {
  --p-font-family: var(--primary-font-family);
  --p-font-size: var(--body-font-size);
  --p-font-weight: var(--body-font-weight);

  --p-text-color: var(--tertiary-text-color);

  padding-bottom: var(--M-spacer);

  font-family: var(--p-font-family);
  font-size: var(--p-font-size);
  font-weight: var(--p-font-weight);

  color: var(--p-text-color);
}


form fieldset legend + p + h2 {
  --form-h2-font-family: var(--primary-font-family);
  --form-h2-font-size: 1.8rem;
  --form-h2-font-weight: var(--heading-font-weight);

  --form-h2-text-color: var(--primary-text-color);

  padding-bottom: .8rem;
  margin: 0;
  

  font-family: var(--form-h2-font-family);
  font-size: var(--form-h2-font-size);
  font-weight: var(--form-h2-font-weight);

  line-height: 1.4;
  
  color: var(--form-h2-text-color);
}

form fieldset legend + p + h2 + p {
  padding-bottom: var(--S-spacer);
  margin: 0;
  

  font-family: var(--primary-font-family);
  font-size: 1.6rem;
  font-weight: 400;

  line-height: 1.4;
  
  color: var(--tertiary-text-color);
}

form fieldset legend + p + h2 + p + ul {
  padding: 0;
  margin: 0;

  padding-bottom: var(--XL-spacer);

  display: flex;
  gap: var(--M-spacer);

  width: 100%;
}

form fieldset legend + p + h2 + p +  ul li {
  padding: 0;
  margin: 0;

  list-style: none;

  font-family: var(--primary-font-family);

  display: flex;

  align-items: center;

  gap: var(--XS-spacer);

  font-size: 1.4rem;
}



form fieldset legend + p + h2 + p + ul li figure {
  padding: 0;
  margin: 0;

  overflow: hidden;

  width: 3.2rem;
  aspect-ratio: 1;

  border-radius: 50%;

  background-color: #E9E9E9;
}

form fieldset legend + p + h2 + p + ul li figure img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}




form fieldset h2 {
  --form-h2-font-family: var(--primary-font-family);
  --form-h2-font-size: 1.8rem;
  --form-h2-font-weight: var(--heading-font-weight);

  --form-h2-text-color: var(--primary-text-color);

  padding-bottom: 1.6rem;
  margin: 0;
  

  font-family: var(--form-h2-font-family);
  font-size: var(--form-h2-font-size);
  font-weight: var(--form-h2-font-weight);

  line-height: 1.4;
  
  color: var(--form-h2-text-color);
}

form fieldset h2 span {
  padding: .6rem 1.2rem;
  margin-right: var(--XS-spacer);

  color: var(--secondary-text-color);

  border-radius: 50%;

  background-color: var(--primary-color);
}

form fieldset p {
  --p-font-family: var(--primary-font-family);
  --p-font-size: var(--body-font-size);
  --p-font-weight: var(--body-font-weight);

  --p-text-color: var(--primary-text-color);

  padding: 0;
  margin: 0;


  font-family: var(--p-font-family);
  font-size: var(--p-font-size);
  font-weight: var(--p-font-weight);

  color: var(--p-text-color);
}







form fieldset > section {
  padding-bottom: var(--XXL-spacer);

  display: flex;

  flex-direction: column;
  flex-wrap: wrap;

  gap: .4rem;

  width: 100%;
}

form fieldset > section section {
  display: flex;

  flex-wrap: wrap;
}

form fieldset > section > section#course-date {
  gap: var(--XS-spacer);

  width: 100%;
}

form fieldset > section article {
  padding-bottom: var(--M-spacer);
}

form fieldset > section article p {
  color: var(--tertiary-text-color);
}




/*  */

form fieldset label[for^="personal-details"] {
  --form-label-font-family: var(--primary-font-family);
  --form-label-font-size: 1.4rem;

  --form-label-text-color: var(--primary-text-color);

  padding-bottom: var(--L-spacer);

  display: flex;
  flex-direction: column;

  font-family: var(--form-label-font-family);
  font-size: var(--form-label-font-size);

  font-weight: 500;

  color: var(--form-label-text-color);

  width: 100%;
}

form fieldset label span {
  padding-bottom: var(--XS-spacer);
}










/* ******************** */
/* Course Start And End */
/* ******************** */

form fieldset label[for^="course-start-date"], form fieldset label[for^="course-end-date"] {
  --form-label-font-family: var(--primary-font-family);
  --form-label-font-size: 1.4rem;

  --form-label-text-color: var(--primary-text-color);

  flex: 1;

  display: flex;
  flex-direction: column;

  font-family: var(--form-label-font-family);
  font-size: var(--form-label-font-size);

  font-weight: 500;

  color: var(--form-label-text-color);
}












/* *************** */
/* Input Type Text */
/* *************** */

form fieldset label input[type="text"] {
  --form-text-input-border-thickness: 0.1rem;
  --form-text-input-border-color: #8A8A8A;

  --form-text-input-border: var(--form-text-input-border-color) var(--form-text-input-border-thickness) solid;
  --form-text-input-border-radius: .4rem;

  --form-text-input-font-family: var(--primary-font-family);
  --form-text-input-font-size: var(--body-font-size);

  padding: 0;
  margin: 0;

  padding-left: var(--S-spacer);

  font-family: var(--form-text-input-font-family);
  font-size: var(--form-text-input-font-size);

  width: 100%;
  height: 6rem;

  border: var(--form-text-input-border);
  border-radius: var(--form-text-input-border-radius);
}



form fieldset label input[type="text"]:focus {
  --form-text-input-border-thickness: 0.1rem;
  --form-text-input-border-color: var(--primary-color);

  --form-text-input-border: var(--form-text-input-border-color) var(--form-text-input-border-thickness) solid;
  --form-text-input-border-radius: .4rem;

  outline: var(--form-text-input-border);

  background-color: rgba(60, 55, 255, 0.05);
}




/* Detail */

form fieldset label:has(input[type="text"]:required) span::after {
  --form-label-accent-color: var(--primary-color);
  --form-label-accent-font-family: var(--primary-font-family);
  --form-label-accent-font-size: 1.4rem;

  padding-left: var(--XS-spacer);

  content:'*';

  font-family: var(--primary-font-family);
  font-size: var(--form-label-accent-font-size);
  
  color: var(--form-label-accent-color);
}



/* ************ */
/* Inputs Range */
/* ************ */

/* form fieldset section section {
  width: 100%;
  height: auto;
} */

/* form fieldset section section label[for^="rating-tm"] ,form fieldset section section label[for^="rating-ex"]  {
  width: 100%;
  height: 20rem;
} */

/* form fieldset section section label[for^="rating-tm"] input[type="range"], form fieldset section section label[for^="rating-ex"] input[type="range"] {
  --slider-fill: calc(10% * attr(data-fill number));

  appearance: none;
  -webkit-appearance: none;

  position: relative;

  width: 100%;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-bottom: 20px;
}

form fieldset section section label[for^="rating-tm"] input[type="range"]::before, form fieldset section section label[for^="rating-ex-wafs"] input[type="range"]::before {
  position: relative;

  content: '';
  display: block;
  height: 10px;
  background-color: #4CAF50;
  position: absolute;
  width: var(--slider-fill);
}


form fieldset section section label[for^="rating-tm"] input[type="range"]::-webkit-slider-thumb, form fieldset section section label[for^="rating-ex"] input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #4CAF50;
  cursor: pointer;
}

form fieldset section section label[for^="rating-tm"] input[type="range"]::-moz-range-thumb, form fieldset section section label[for^="rating-ex"] input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #4CAF50;
  cursor: pointer;
}

form fieldset section section label[for^="rating-tm"] #slider-value, form fieldset section section label[for^="rating-ex"] #slider-value  {
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  background: #4CAF50;
  color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
 */


















/* ************* */
/* Inputs radio. */
/* ************* */


form fieldset section label[for^="rating-ex"].idle, form fieldset section label[for^="rating-tm"].idle {
  display: none;
}

/* Met icoon */

form fieldset label div {

}



form fieldset input[type="radio"] {
  appearance: none;

  inset: 0;
}

form fieldset section section div {
  padding-bottom: var(--S-spacer);

  display: flex;

  align-items: center;

  gap: .8rem;

  width: 100%;
}

/* ********* */
/* Indicator */
/* ********* */

form fieldset section section div + ul {
  padding: 0;
  margin: 0;

  display: flex;

  justify-content: space-between;

  width: 100%;
}

form fieldset section section div + ul li {
  margin: 0;

  list-style: none;

  font-family: var(--primary-font-family);
  font-size: 1.4rem;

  color: var(--tertiary-text-color);
}

/* ************************ */
/* Rating Teaching Material */
/* ************************ */

form fieldset section div label[for^="rating-tm"] {
  --rating-tm-padding: 1.5rem 3rem;

  --rating-tm-font-family: var(--primary-font-family);
  --rating-tm-font-size: 1.6rem;

  --rating-tm-border-color: #8a8a8a;
  --rating-tm-border-thickness: .1rem;

  --rating-tm-border: var(--rating-tm-border-thickness) solid var(--rating-tm-border-color);
  --rating-tm-border-radius: .4rem;


  padding: var(--rating-tm-padding);

  display: flex;
  
  align-items: center;
  justify-content: center;

  font-family: var(--rating-tm-font-family);
  font-size: var(--rating-tm-font-size);

  color: var(--primary-text-color);

  border: var(--rating-tm-border);
  border-radius: var(--rating-tm-border-radius);

  background-color: var(--rating-tm-background-color);
}

form fieldset label:has(input[type="radio"][id^="rating-tm"]:checked) {
  filter: none;

  color: #1A1AFF;

  font-weight: 700;

  border: 2px solid #1A1AFF;

  background-color: rgba(120, 170, 255, 0.50);
}

form fieldset label:has(input[type="radio"][id^="rating-tm"]:not(:checked)) {
}




/* *************************************** */
/* Rating Explanation of Teaching Material */
/* *************************************** */

form fieldset section label[for^="rating-ex"] {
  --rating-tm-padding: 1.5rem 3rem;

  --rating-tm-font-family: var(--primary-font-family);
  --rating-tm-font-size: 1.6rem;

  --rating-tm-border-color: #8a8a8a;
  --rating-tm-border-thickness: .1rem;

  --rating-tm-border: var(--rating-tm-border-thickness) solid var(--rating-tm-border-color);
  --rating-tm-border-radius: .4rem;


  padding: var(--rating-tm-padding);

  display: flex;
  
  align-items: center;
  justify-content: center;

  font-family: var(--rating-tm-font-family);
  font-size: var(--rating-tm-font-size);

  color: var(--primary-text-color);

  border: var(--rating-tm-border);
  border-radius: var(--rating-tm-border-radius);

  background-color: var(--rating-tm-background-color);
}

form fieldset label:has(input[type="radio"][id^="rating-ex"]:checked) {
  filter: none;

  color: #1A1AFF;

  font-weight: 700;

  border: 2px solid #1A1AFF;

  background-color: rgba(120, 170, 255, 0.50);
}

form fieldset label:has(input[type="radio"][id^="rating-ex"]:not(:checked)) {
}


















form fieldset > section section#emojis {
  display: flex;

  gap: .8rem;
}


/* ************************** */
/* Rating Understanding Level */
/* ************************** */

form fieldset section label[for^="rating-ul"] {
  --rating-ul-padding: .8rem;

  --rating-ul-font-family: var(--primary-font-family);
  --rating-ul-font-size: 1.6rem;

  --rating-ul-border-color: #8a8a8a;
  --rating-ul-border-thickness: .1rem;

  --rating-ul-border: var(--rating-ul-border-thickness) solid var(--rating-ul-border-color);
  --rating-ul-border-radius: .4rem;

  --rating-ul-background-color: white;

  filter:grayscale();

  padding: var(--rating-ul-padding);

  display: inline-flex;
  
  align-items: center;
  justify-content: center;

  font-family: var(--rating-ul-font-family);
  font-size: var(--rating-ul-font-size);

  color: #8a8a8a;

  border: var(--rating-ul-border);
  border-radius: var(--rating-ul-border-radius);

  background-color: var(--rating-ul-background-color);
}

form fieldset label:has(input[type="radio"][id^="rating-ul"]:checked) {
  filter: none;

  color: #1A1AFF;

  font-weight: 700;

  border: 2px solid #1A1AFF;

  background-color: rgba(120, 170, 255, 0.50);
}

form fieldset label:has(input[type="radio"][id^="rating-ul"]:not(:checked)) {
}






form fieldset > nav {
  padding-bottom: var(--M-spacer);

  display: flex;
}



form fieldset > nav button {
  --form-primary-button-padding: 2rem 4rem;
  --form-primary-button-font-family: var(--primary-font-family);
  --form-primary-button-font-size: 1.6rem;

  --form-primary-button-text-color: var(--secondary-text-color);

  --form-primary-button-background-color: var(--primary-color);

  padding: var(--form-primary-button-padding);
  margin: 0;

  font-family: var(--form-primary-button-font-family);
  font-size: var(--form-primary-button-font-size);

  color: var(--form-primary-button-text-color);

  border: none;
  border-radius: .4rem;

  background-color: var(--form-primary-button-background-color);
}

form fieldset > nav button#primary {
  --form-primary-button-background-color: var(--primary-color);
  background-color: var(--form-primary-button-background-color);
}

form fieldset > nav button#secondary {
  --form-primary-button-background-color: black;
  background-color: var(--form-primary-button-background-color);
}

form fieldset > nav button:hover {
  cursor: pointer;
}

form fieldset button[type="submit"] {
  font-size: 2.4rem;
}


































@media (min-width: 786px) {

  main {
    display: flex;

    flex-direction: row;
  }

  main > aside {
    flex-basis: 50%;

    display: flex;
    
    align-items: center;
    justify-content: center;

    width: 50%;
    height: auto;
  }

  main > aside > section {
    --aside-section-background-color: var(--tertiary-background-color);

    display: flex;

    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 95%;
    height: 95%;

    border-radius: 1rem;

    background-color: var(--aside-section-background-color);
  }

  main > aside > section article {
    display: none;
    flex-direction: column;
  }

  main > aside > section article h2 {
    --aside-article-h2-font-family: var(--primary-font-family);
    --aside-article-h2-font-size: 6rem;

    font-family: var(--aside-article-h2-font-family);
    font-size: vaR(--aside-article-h2-font-size);
  }



  main > section {
    flex-basis: 50%;
  }


  @supports (display: grid) {

    main {
      display: grid;

      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    main aside {
      display: flex;
    
      align-items: center;
      justify-content: center;
  
      width: 100%;
      height: auto;
    }

  }

}





