/* ********** */
/* HTML, Body */
/* ********** */

html, body {
  font-size: 62.5%;

  height: 100%;
}


/* **** */
/* Main */
/* **** */

main {
  width: 100%;
  min-height: 100%;
}


/* ********** */
/* Main Aside */
/* ********** */

main > aside {
  display: none;
}


/* ************ */
/* Main Section */
/* ************ */

main > section {
  display: flex;

  flex-direction: column;
  
  align-items: center;
}

/* **************** */
/* Main Section Nav */
/* **************** */

main > section > nav {
  padding-top: var(--M-spacer);
  padding-bottom: var(--L-spacer);

  width: 100%;
}

main > section > nav ol {
  padding: 0;
  margin: 0;

  display: flex;

  align-items: center;
  justify-content: space-between;
}

/* ******************** */
/* Step Indicator Links */
/* ******************** */

main > section > nav ol li {
  list-style: none;
}

main > section > nav ol li a {
  --step-indicator-font-family: var(--primary-font-family);
  --step-indicator-font-size: 1.6rem;
  
  --step-indicator-text-color: var(--primary-text-color);

  list-style: none;

  font-family: var(--step-indicator-font-family);
  font-size: var(--step-indicator-font-size);

  padding: .4rem .8rem;

  border: 1px solid #8A8A8A;
  border-radius: 8rem;

  color: var(--primary-text-color);

  text-decoration: none;
}


main > section > nav ol li a.current {
  padding: .4rem .8rem;

  border: none;
  border-radius: 8rem;

  color: var(--secondary-text-color);
  background-color: var(--primary-color);

  text-decoration: none;
}

main > section > nav ol li a:hover {
  padding: .4rem .8rem;

  border: none;
  border-radius: 8rem;

  color: var(--secondary-text-color);
  background-color: var(--primary-color);

  text-decoration: none;
}


/* ***************** */
/* Main Section Form */
/* ***************** */

main > section > form {
  display: flex;
  flex-direction: column;

  width: 100%;
}


/* ************* */
/* Form Fieldset */
/* ************* */

form fieldset {
  min-inline-size: 0;

  padding: 0;
  margin: 0;

  display: flex;

  flex-direction: column;
  
  border: none;

  width: 100%;
}

form fieldset.visible {
  display: visible;
}

form fieldset.hidden {
  display: none;
}


/* ******************** */
/* Form Fieldset Legend */
/* ******************** */

form fieldset legend {
  --legend-font-family: var(--primary-font-family);
  --legend-font-size: var(--form-heading-font-size);

  --legend-text-color: var(--primary-text-color);

  padding: 0;
  margin: 0;

  padding-bottom: var(--S-spacer);

  font-family: var(--primary-font-family);
  font-size: var(--legend-font-size);
  font-weight: var(--heading-font-weight);

  color: var(--legend-text-color);
}


/* ****************** */
/* Course Description */
/* ****************** */

form fieldset legend + p {
  --p-font-family: var(--primary-font-family);
  --p-font-size: 1.6rem;
  --p-font-weight: var(--body-font-weight);

  --p-text-color: var(--tertiary-text-color);

  padding: 0;
  margin: 0;

  padding-bottom: var(--L-spacer);

  font-family: var(--p-font-family);
  font-size: var(--p-font-size);
  font-weight: var(--p-font-weight);

  line-height: 1.6;

  color: var(--p-text-color);
}


/* ******************** */
/* Course Teacher Title */
/* ******************** */

form fieldset legend + p + h2 {
  --form-h2-font-family: var(--primary-font-family);
  --form-h2-font-size: 1.8rem;
  --form-h2-font-weight: var(--heading-font-weight);

  --form-h2-text-color: var(--primary-text-color);


  padding-bottom: .8rem;
  margin: 0;
  
  font-family: var(--form-h2-font-family);
  font-size: var(--form-h2-font-size);
  font-weight: var(--form-h2-font-weight);

  line-height: 1.4;
  
  color: var(--form-h2-text-color);
}


/* *************************** */
/* Course Teacher Description  */
/* *************************** */

form fieldset legend + p + h2 + p {
  padding-bottom: var(--M-spacer);
  margin: 0;
  
  font-family: var(--primary-font-family);
  font-size: 1.6rem;
  font-weight: 400;

  line-height: 1.6;
  
  color: var(--tertiary-text-color);
}


/* ******************* */
/* Course Teacher List */
/* ******************* */

form fieldset legend + p + h2 + p + ul {
  padding: 0;
  margin: 0;

  padding-bottom: var(--XL-spacer);

  display: flex;
  gap: var(--M-spacer);

  width: 100%;
}


/* *************************** */
/* Course Teacher List Content */
/* *************************** */

form fieldset legend + p + h2 + p +  ul li {
  padding: 0;
  margin: 0;

  list-style: none;

  font-family: var(--primary-font-family);

  display: flex;

  align-items: center;

  gap: var(--XS-spacer);

  font-size: 1.4rem;
}

/* ************* */
/* Teacher Image */
/* ************* */

form fieldset legend + p + h2 + p + ul li figure {
  padding: 0;
  margin: 0;

  overflow: hidden;

  width: 3.2rem;
  aspect-ratio: 1;

  border-radius: 50%;

  background-color: #E9E9E9;
}

form fieldset legend + p + h2 + p + ul li figure img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}


/* ********************* */
/* Form Fieldset Section */
/* ********************* */

form fieldset > section {
  padding-bottom: var(--XL-spacer);

  display: flex;

  flex-direction: column;

  width: 100%;
}

/* ******************************* */
/* Form Fieldset Section Questions */
/* ******************************* */

form fieldset > section article {
  padding-bottom: var(--M-spacer);
}

/* ************* */
/* Form Question */
/* ************* */

form fieldset > section article h2 {
  --form-h2-font-family: var(--primary-font-family);
  --form-h2-font-size: 2rem;
  --form-h2-font-weight: var(--heading-font-weight);

  --form-h2-text-color: var(--primary-text-color);

  padding-bottom: 1.6rem;
  margin: 0;
  
  font-family: var(--form-h2-font-family);
  font-size: var(--form-h2-font-size);
  font-weight: var(--form-h2-font-weight);

  font-size: 2rem;

  line-height: 1.4;
  
  color: var(--primary-text-color);
}

/* **********************/
/* Form Question Number */
/* ******************** */

form fieldset > section article h2 span {
  z-index: 99;

  display: inline-block;
  width: 1.5em;
  height: 1.5em;

  text-align: center;

  position: relative;
  margin-right: var(--XS-spacer);

  color: white;
}

form fieldset > section article h2 span::before {
  z-index: -1;
  content: "";
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 1.5em;
  position: absolute;

  inset: 0;
}


/* ************************* */
/* Form Question Description */
/* ************************* */

form fieldset > section article p {
  --p-font-family: var(--primary-font-family);
  --p-font-size: var(--body-font-size);
  --p-font-weight: var(--body-font-weight);

  --p-text-color: var(--tertiary-text-color);

  padding: 0;
  margin: 0;

  font-family: var(--p-font-family);
  font-size: var(--p-font-size);
  font-weight: var(--p-font-weight);

  line-height: 1.6;

  color: var(--p-text-color);
}









/* *********** */
/* Form Inputs */
/* *********** */



/* **************** */
/* Personal Details */
/* **************** */

form fieldset label[for^="personal-details"] {
  --form-label-font-family: var(--primary-font-family);
  --form-label-font-size: 1.4rem;

  --form-label-text-color: var(--primary-text-color);

  padding-bottom: var(--L-spacer);

  display: flex;
  flex-direction: column;

  font-family: var(--form-label-font-family);
  font-size: var(--form-label-font-size);

  font-weight: 500;

  color: var(--form-label-text-color);

  width: 100%;
}

form fieldset label span {
  padding-bottom: var(--XS-spacer);
}

#requirement-star {
  color: var(--primary-color);
}





form fieldset label input[type="text"]:invalid {
  /* outline: 1px solid red; */
}

form fieldset label input[type="text"]:valid {
  /* outline: 1px solid green;

  background-color: rgba(60, 55, 255, 0.05); */
}



form fieldset label input[type="text"]:focus {
  filter: none;

  color: black;

  font-weight: 600;

  outline: 2px solid #1A1AFF;

  background-color: #78aaff80;
}



/* ****************** */
/* Form Inputs Rating */
/* ****************** */

#rating {
  overflow: hidden;
  position: relative;
  width: 100%;
}

/* Scroll Container */
#rating > div {
  display: flex;

  flex-wrap: nowrap;
  flex-direction: column;

  justify-content: space-between;

  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}

#rating > div section {
  padding-bottom: var(--S-spacer);
}

#rating > div::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Webkit browsers */
}

/* Sections */
#rating section {
  display: flex;

  gap: 1rem;

  width: 100%;
}

/* Labels */
#rating label {
}

/* Input */
#rating input[type="radio"] {

}

#rating div {
  width: 100%;
}

#rating div section {
  width: 100%;
}

/* Indicator */
#rating ul {
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

#rating ul li {
  font-family: var(--primary-font-family);
  font-size: 1.6rem;
}









:root {
  --form-text-input-border-thickness: 0.1rem;
  --form-text-input-border-color: #8A8A8A;

  --form-text-input-border: var(--form-text-input-border-color) var(--form-text-input-border-thickness) solid;
  --form-text-input-border-radius: .4rem;

  --form-text-input-font-family: var(--primary-font-family);
  --form-text-input-font-size: var(--body-font-size);
}

/* *************** */
/* Input Type Text */
/* *************** */

form fieldset label input[type="text"] {
  padding: 0;
  margin: 0;

  padding-left: var(--S-spacer);

  font-family: var(--form-text-input-font-family);
  font-size: var(--form-text-input-font-size);

  width: 100%;
  height: 6rem;

  border: var(--form-text-input-border);
  border-radius: var(--form-text-input-border-radius);
}

form fieldset label input[type="text"] {
  padding: 0;
  margin: 0;

  padding-left: var(--S-spacer);

  font-family: var(--form-text-input-font-family);
  font-size: var(--form-text-input-font-size);

  width: 100%;
  height: 6rem;

  border: var(--form-text-input-border);
  border-radius: var(--form-text-input-border-radius);
}

/* ***************************** */
/* Input Type Text Placeholders  */
/* ***************************** */

/* Change the color of the placeholder text */
input[type="text"]::placeholder {
  color: var(--tertiary-text-color);
  font-style: italic;
}

/* Additional styles for different browsers */
/* Firefox */
input[type="text"]::-moz-placeholder {
  color: var(--tertiary-text-color);
  font-style: italic;
}

/* Internet Explorer */
input[type="text"]:-ms-input-placeholder {
  color: var(--tertiary-text-color);
  font-style: italic;
}

/* Webkit browsers (Chrome, Safari, etc.) */
input[type="text"]::-webkit-input-placeholder {
  color: var(--tertiary-text-color);
  font-style: italic;
}


/* *************************** */
/* Input Type Text Focus State */
/* *************************** */

form fieldset label input[type="text"]:focus {
}




/* **** */
/* Date */
/* **** */

form fieldset section#course-date {
  display: flex;

  gap: var(--XS-spacer);
}

form fieldset section#course-date label[for^="course-start-date"], form fieldset label[for^="course-end-date"] {
  --form-label-font-family: var(--primary-font-family);
  --form-label-font-size: 1.4rem;

  --form-label-text-color: var(--primary-text-color);

  display: flex;
  flex-direction: column;

  font-family: var(--form-label-font-family);
  font-size: var(--form-label-font-size);

  font-weight: 500;

  color: var(--form-label-text-color);
}

form fieldset section#course-date label[for^="course-start-date"] span, form fieldset label[for^="course-end-date"] span {
  padding-bottom: var(--XS-spacer);
}



/* ****** */
/* Rating */
/* ****** */


/* ******************************* */
/* Rating Teaching Material Labels */
/* ******************************* */

form fieldset section label[for^="rating-tm"] {
  --rating-tm-padding: 1.5rem 3rem;

  --rating-tm-font-family: var(--primary-font-family);
  --rating-tm-font-size: 1.6rem;

  --rating-tm-border-color: #8a8a8a;
  --rating-tm-border-thickness: .1rem;

  --rating-tm-border: var(--rating-tm-border-thickness) solid var(--rating-tm-border-color);
  --rating-tm-border-radius: .4rem;


  padding: var(--rating-tm-padding);

  display: inline-flex;
  
  align-items: center;
  justify-content: center;

  font-family: var(--rating-tm-font-family);
  font-size: var(--rating-tm-font-size);

  color: var(--primary-text-color);

  border: var(--rating-tm-border);
  border-radius: var(--rating-tm-border-radius);

  background-color: var(--rating-tm-background-color);
}

form fieldset label:has(input[type="radio"][id^="rating-tm"]:checked) {
  filter: none;

  color: #1A1AFF;

  font-weight: 700;

  border: 2px solid #1A1AFF;

  background-color: rgba(120, 170, 255, 0.50);
}



/* ************************* */
/* Rating Explanaition Label */
/* ************************* */

form fieldset section label[for^="rating-ex"] {
  --rating-tm-padding: 1.5rem 3rem;

  --rating-tm-font-family: var(--primary-font-family);
  --rating-tm-font-size: 1.6rem;

  --rating-tm-border-color: #8a8a8a;
  --rating-tm-border-thickness: .1rem;

  --rating-tm-border: var(--rating-tm-border-thickness) solid var(--rating-tm-border-color);
  --rating-tm-border-radius: .4rem;


  padding: var(--rating-tm-padding);

  display: inline-flex;
  
  align-items: center;
  justify-content: center;

  font-family: var(--rating-tm-font-family);
  font-size: var(--rating-tm-font-size);

  color: var(--primary-text-color);

  border: var(--rating-tm-border);
  border-radius: var(--rating-tm-border-radius);

  background-color: transparent;
}

form fieldset section label.checked-label {
  --rating-tm-padding: 1.5rem 3rem;

  --rating-tm-font-family: var(--primary-font-family);
  --rating-tm-font-size: 1.6rem;

  --rating-tm-border-color: #8a8a8a;
  --rating-tm-border-thickness: .1rem;

  --rating-tm-border: var(--rating-tm-border-thickness) solid var(--rating-tm-border-color);
  --rating-tm-border-radius: .4rem;


  padding: var(--rating-tm-padding);

  display: inline-flex;
  
  align-items: center;
  justify-content: center;

  font-family: var(--rating-tm-font-family);
  font-size: var(--rating-tm-font-size);

  color: var(--secondary-text-color);

  background-color: var(--primary-color);
}

form fieldset label:has(input[type="radio"][id^="rating-ex"]:checked) {
  filter: none;

  color: #1A1AFF;

  font-weight: 700;

  border: 2px solid #1A1AFF;

  background-color: rgba(120, 170, 255, 0.50);
}


/* ******* */
/* Grading */
/* ******* */


#grading {
  overflow: hidden;
  position: relative;
  width: 100%;
}

/* Scroll Container */
#grading > div {
  display: flex;

  flex-wrap: nowrap;
  flex-direction: column;

  justify-content: space-between;

  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}

#grading > div::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Webkit browsers */
}

/* Sections */
#grading section {
  display: flex;

  gap: 1rem;

  width: 100%;
}

#rating div {
  width: 100%;
}

#rating div section {
  display: flex;
}

/* Indicator */
#rating ul {
  padding: 0;
  margin: 0;

  display: none;
  justify-content: space-between;
  list-style-type: none;
}

#rating ul li {
  font-family: var(--primary-font-family);
  font-size: 1.6rem;
}

/* *************************** */
/* Grading Understanding Level */
/* *************************** */

form fieldset section label[for^="rating-ul"] {
  --rating-ul-padding: 2rem 1rem;

  --rating-ul-font-family: var(--primary-font-family);
  --rating-ul-font-size: 1.6rem;

  --rating-ul-border-color: #8a8a8a;
  --rating-ul-border-thickness: .1rem;

  --rating-ul-border: var(--rating-ul-border-thickness) solid var(--rating-ul-border-color);
  --rating-ul-border-radius: .4rem;

  --rating-ul-background-color: white;

  filter:grayscale();

  padding: var(--rating-ul-padding);

  display: inline-flex;
  
  align-items: center;
  justify-content: center;

  font-family: var(--rating-ul-font-family);
  font-size: var(--rating-ul-font-size);

  color: #8a8a8a;

  border: var(--rating-ul-border);
  border-radius: var(--rating-ul-border-radius);

  background-color: var(--rating-ul-background-color);
}

form fieldset section label[for^="rating-ul"] span {
  padding-right: var(--XS-spacer);
  padding-bottom: 0;
}

form fieldset label:has(input[type="radio"][id^="rating-ul"]:checked) {
  filter: none;

  color: #1A1AFF;

  font-weight: 700;

  border: 2px solid #1A1AFF;

  background-color: rgba(120, 170, 255, 0.50);
}

form fieldset section label[for^="rating-ul"].checked-label {
  --rating-ul-padding: 2rem 1rem;

  --rating-ul-font-family: var(--primary-font-family);
  --rating-ul-font-size: 1.6rem;

  --rating-ul-border-color: #8a8a8a;
  --rating-ul-border-thickness: .1rem;

  --rating-ul-border: var(--rating-ul-border-thickness) solid var(--rating-ul-border-color);
  --rating-ul-border-radius: .4rem;

  --rating-ul-background-color: white;

  filter: none;

  padding: var(--rating-ul-padding);

  display: inline-flex;
  
  align-items: center;
  justify-content: center;

  font-family: var(--rating-ul-font-family);
  font-size: var(--rating-ul-font-size);

  color: var(--secondary-text-color);
  font-weight: 600;

  border: var(--rating-ul-border);
  border-radius: var(--rating-ul-border-radius);

  background-color: var(--primary-color);
}

/* ************* */
/* Radio Buttons */
/* ************* */

form fieldset input[type="radio"] {
  opacity: 0;

  position: absolute;
}

input[type="radio"]:focus + label {
  /* Your focus styles for the label */
  border-color: blue;
  outline: none;
}









/* ******** */
/* Form Nav */
/* ******** */

form fieldset > nav {
  padding-bottom: var(--M-spacer);

  display: flex;

  gap: 0.8rem;

  width: 100%;
}

/* **************** */
/* Form Nav Buttons */
/* **************** */

form fieldset > nav button {
  --form-primary-button-padding: 2rem 4rem;
  --form-primary-button-font-family: var(--primary-font-family);
  --form-primary-button-font-size: 1.6rem;

  --form-primary-button-text-color: var(--primary-text-color);

  --form-primary-button-background-color: var(--primary-color);

  padding: var(--form-primary-button-padding);
  margin: 0;

  font-family: var(--form-primary-button-font-family);
  font-size: var(--form-primary-button-font-size);

  text-transform: capitalize;

  color: var(--form-primary-button-text-color);

  border: none;
  border-radius: .4rem;

  background-color: var(--form-primary-button-background-color);
}

form fieldset > nav button#primary {
  --form-primary-button-background-color: var(--primary-color);
  background-color: var(--form-primary-button-background-color);
}

form fieldset > nav button#primary:focus {
  outline: .5rem solid red;
  background-color: var(--form-primary-button-background-color);
}

form fieldset > nav button#primary.active {
  --form-primary-button-background-color: var(--primary-color);
  background-color: var(--form-primary-button-background-color);
}

form fieldset > nav button#secondary {
  --form-primary-button-background-color: transparent;
  color: var(--primary-text-color);
  border: 1px solid #acacac;
  background-color: var(--form-primary-button-background-color);
}

form fieldset > nav button:hover {
  cursor: pointer;
}

form fieldset button[type="submit"] {
  --form-primary-button-padding: 2rem 4rem;
  --form-primary-button-font-family: var(--primary-font-family);
  --form-primary-button-font-size: 1.6rem;

  --form-primary-button-text-color: var(--primary-text-color);

  --form-primary-button-background-color: var(--primary-color);

  padding: var(--form-primary-button-padding);
  margin: 0;

  font-family: var(--form-primary-button-font-family);
  font-size: var(--form-primary-button-font-size);

  text-transform: capitalize;

  color: var(--form-primary-button-text-color);

  border: none;
  border-radius: .4rem;

  background-color: var(--form-primary-button-background-color);

}








/* Validation. */
form fieldset label[for^="personal-details"] div {
  position: relative;

  width: 100%;
}

form fieldset label[for^="course-start-date-bt"] div, form fieldset label[for^="course-end-date-bt"] div {
  position: relative;

  width: 100%;
}

.error-message {
  color: red;
  font-size: 12px;
  display: none;
}

.error-message.show {
  display: block;
}

.radio-error {
  display: none;
  color: red;
  font-size: 12px;
}

.checkmark {
  position: absolute;
  font-size: 2rem;
  bottom: 0;
  right: 1rem;
  display: none;
}

.checkmark.show {
  display: block;
}









/* Viewport Rules And Support. */

@media (min-width: 786px) {

  main {
    display: flex;

    flex-direction: row;
  }

  main > aside {
    flex-basis: 40%;

    display: flex;
    
    align-items: center;
    justify-content: center;

    width: 40%;
    height: auto;

    max-height: 100vh;
  }

  main > aside > section {
    --aside-section-background-color: var(--tertiary-background-color);

    display: flex;

    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 95%;
    height: 95%;

    border-radius: 1rem;

    background-color: var(--aside-section-background-color);
  }

  main > aside > section article {
    display: none;
    flex-direction: column;
  }

  main > aside > section article h2 {
    --aside-article-h2-font-family: var(--primary-font-family);
    --aside-article-h2-font-size: 6rem;

    font-family: var(--aside-article-h2-font-family);
    font-size: vaR(--aside-article-h2-font-size);
  }



  main > section {
    flex-basis: 60%;
  }

  main > section form {
    width: 70%;
  }



/* ********************* */
/* Form Fieldset Section */
/* ********************* */

form fieldset > section {
  padding-bottom: var(--XXL-spacer);

  display: flex;

  flex-direction: column;

  width: 100%;
}

form fieldset legend + p + h2 + p + ul {
  padding-bottom: var(--XXL-spacer);
}



  #grading {
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  /* Scroll Container */
  #grading > div {
    display: block;
  
    flex-wrap: nowrap;
    flex-direction: column;
  
    justify-content: space-between;
  
    overflow-x: none;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  }
  
  #grading > div::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Webkit browsers */
  }
  
  /* Sections */
  #grading section {
    display: flex;
    flex-wrap: wrap;
    
    gap: 1rem;
  }


  @supports (display: grid) {

    main {
      display: grid;

      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    main aside {
      display: flex;
    
      align-items: center;
      justify-content: center;
  
      width: 100%;
      height: auto;
    }

  }

}


